<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Counter</title>
</head>
<body>
    <div class="wrapper">
        <h1>Counter</h1>
        <p>{{ counter }} times</p>

        <form action='/result' method='post'>
            <input type="submit" value="Submit">
        </form>

        <form action='/reset' method='post'>
            <input type="submit" value="Reset the count">
        </form>

    </div>
</body>
</html>
